snippet r "Require" b
var $1 = require('$1');
endsnippet

snippet sc "scope variable" b
$scope.$1 = $1;
endsnippet

snippet R "Require react" b
var React = require('react');
endsnippet

snippet log "Description"
console.log($1);
endsnippet

snippet fac "Factory" b
module.exports = function() {

};
endsnippet

snippet rcom "React Component" b
module.exports = function(React) {
  return $1 = React.createClass({
    render: function() {
      return (
  	  $2
      )
    }
  });
};
endsnippet
