[submodule "bundle/surround"]
	path = bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/coffee"]
	path = bundle/coffee
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "bundle/exchange"]
	path = bundle/exchange
	url = git@github.com:tommcdo/vim-exchange.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
