[submodule "bundle/surround"]
	path = bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/coffee"]
	path = bundle/coffee
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "bundle/exchange"]
	path = bundle/exchange
	url = git@github.com:tommcdo/vim-exchange.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = git@github.com:tpope/vim-cucumber.git
[submodule "bundle/rename"]
	path = bundle/rename
	url = git@github.com:danro/rename.vim.git
[submodule "bundle/splitjoin"]
	path = bundle/splitjoin
	url = git@github.com:AndrewRadev/splitjoin.vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/multiple-cursors"]
	path = bundle/multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
